<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
            <div class="menu-bar">
                <div class="home">
                    <div><i class="fa fa-home" style="font-size:30px"></i></div>
                    <div>Home</div>
                </div>
                <div class="friends">
                    <div><i class="fa fa-user" style="font-size:30px"></i></div>
                    <div>Friends</div> 
                </div>
                <div class="market">
                    <div><i class="fa fa-shopping-cart" style="font-size:30px"></i></div>
                    <div>Market</div> 
                </div>
            </div>
            <div class="info">
                <div class="notification"><i class="fa fa-bell-o" aria-hidden="true" style="font-size:30px"></i></div>
                <div class="login">
                    <div class="avata"></div>
                    <div>Your name</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>