.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 730px;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 50%;
    margin-right: 10px;
    padding: 10px;
}

.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 50%;
    margin-left: 10px;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}