<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">Logo</div>
            <div class="menu-bar">
                <div class="menu">About</div>
                <div class="menu">Home</div>
                <div class="menu">Contact</div>
            </div>
        </div>
    </div>
</body>
</html>