.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #ffa500;
    background-color: #f6cf88;
}

.logo {
    text-align: center;
    border: 2px solid;
    background-color: #92e21b;
    padding: 10px 20px;
}

.menu-bar {
    display: flex;
}

.menu {
    padding: 10px;
    border: 2px solid;
    background-color: #f7b2c9;
    width: 50px;
    text-align: center;
}